* {
    outline: 1px solid red;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/home.png');
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.ancient-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 40%;
    height: 100%; 
}

.ancient {
    width: 200px;
    height: 300px;
    background-size: 100% 100%;
}

.azathoth {
    background-image: url('assets/Ancients/Azathoth.png');
}

.cthulthu {
    background-image: url('assets/Ancients/Cthulthu.png');
}

.iogsothoth {
    background-image: url('assets/Ancients/IogSothoth.png');
}

.shubniggurath {
    background-image: url('assets/Ancients/ShubNiggurath.png');
}


.difficulty-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}

.difficulty-list {
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.difficulty-choice {
    width: 100%;
    height: 50px;
    font-size: 30px;
    background-color: rebeccapurple;
    color: white;
    border: 1px solid rebeccapurple;
}

.difficulty-choice:hover {
    border: 1px solid white;
}



.card-container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-tracker-container {
    width: 100%;
    height: 50%;
}

.card-shuffle {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px
}

.card-deck {
    width: 150px;
    height: 200px;
    background-image: url('./assets/mythicCardBackground.png');
    background-size: 100% 100%;
}

.card-reveal {
    width: 150px;
    height: 200px;
    background-color: aquamarine;
}

